
=link_to basket_path(basket), class: 'list-group-item' do
  .media
    .media-body
      -if(basket.user)
        %h4.media-heading
          =basket.user.name
        -basket.set_price  
        %i
          =basket.price
        %i pyĞ±
      %br
      %small.text-muted=basket.status_name
