.page-header
  -if User.edit_by?(@current_user)
    %h1 Заказы
  -else
    %h1 Мои заказы

-if Basket.edit_by?(@current_user)
  .list-group
    =render @baskets
  =paginate @baskets
-else
  .list-group
    =render @current_user.baskets
  
