.page-header
  -if User.edit_by?(@current_user)
    %h1 Заказ пользователя
    %h1=@basket.user.name
  -else
    %h1 Мой заказ


-if  User.edit_by?(@current_user)
  %br
  -if @basket.status == 1
    =link_to basket_path(@basket,st:2), class: 'btn btn-primary' do
      =fa_icon 'truck'
      Перевести на статус "Доставляется"
  -if @basket.status == 2
    =link_to basket_path(@basket,st:3), class: 'btn btn-primary' do
      =fa_icon 'check'
      Перевести на статус "Доставлено"
  -if @basket.status == 3
    =link_to @basket, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
      =fa_icon 'trash'
      Удалить
%p

%p
  %b Статус:
  %small.text-muted=@basket.status_name

%p
  %b Тип доставки:
  = @basket.delivery_name

%p
  %b Адрес:
  = @basket.address
%p
  %b Пользователь:
  = @basket.user.name
=link_to edit_basket_path(@basket), class: 'btn btn-primary' do
  =fa_icon 'edit'
  Редактировать
%p

-if @basket.cart_items.any?
  -@basket.cart_items.each do |f|
    =render f
  %br
  -if not User.edit_by?(@current_user)
    -if @basket.status == 0
      =link_to basket_path(@basket,st:1), class: 'btn btn-danger' do
        =fa_icon 'rub'
        Оплатить все
-else
  %h3 Корзина пуста.
