.page-header
  %h1
    =@cart_item.dvd.name
= form_for @cart_item do |f|
  =f.hidden_field :dvd_id

  - if @cart_item.errors.any?
    #error_explanation
      %h2= "Невозможно продолжить, так как:"
      %ul
        - @cart_item.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-3
      -if @cart_item.cover?
        =image_tag @cart_item.dvd.cover.url(:medium), alt: @cart_item.dvd.name, class: 'img-responsive'
    .col-md-9
      %dl

      -if @cart_item.price
        %dt='Цена'
        %small.text-muted=@cart_item.price
        %small.text-muted руб
      -if @cart_item.dvd.film.name
        %dt='Фильм'
        %dd=link_to @cart_item.dvd.film.name, @cart_item.dvd.film
      -if @cart_item.dvd.cover_type
        %dt="Тип обложки"
        %dd=@cart_item.dvd.cover_type
    .col-md-2
      -if not @cart_item.basket
        .form-group
          =f.label :Количество
          =f.number_field :amount, class: 'form-control'
      -else
        -if @cart_item.basket.status==0
          .form-group
            =f.label :Количество
            =f.number_field :amount, class: 'form-control'
        -else
          %dt="Количество"
          %dd=@cart_item.amount
  %br
  .row
    .col-md-4
      .btn-toolbar
        = f.submit 'Готово', class: 'btn btn-danger'
        %br
