= form_for @cart_item do |f|
  =f.hidden_field :dvd_id
  - if @cart_item.errors.any?
    #error_explanation
      %h2= "Невозможно продолжить, так как:"
      %ul
        - @cart_item.errors.full_messages.each do |msg|
          %li= msg

  .row
    .col-md-3
      -if @cart_item.dvd.cover?
        =image_tag @cart_item.dvd.cover.url(:medium), alt: @cart_item.dvd.name, class: 'img-responsive'
    .col-md-9
      %dl
      -if @cart_item.price
        %dt='Цена'
        %dd=@cart_item.price
      -if @cart_item.dvd.film.name
        %dt='Фильм'
        %dd=link_to @cart_item.dvd.film.name, @cart_item.dvd.film
      -if @cart_item.dvd.cover_type
        %dt="Тип обложки"
        %dd=@cart_item.dvd.cover_type
    .col-md-2
      .form-group
        =f.label :Количество
        =f.text_field :amount, class: 'form-control'
  %br
  .row
    .col-md-4
      .btn-toolbar
        = f.submit 'Готово', class: 'btn btn-danger'
        %br
