
-if  not User.edit_by?(@current_user)
  %br
  -if  @cart_item.basket.status == 0
    =link_to @cart_item, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
      =fa_icon 'trash'
      Убрать из корзины
    =link_to edit_cart_item_path(@cart_item, st: 1), class: 'btn btn-primary' do
      =fa_icon 'edit'
      Редактировать


%br
%br
.row
  .col-md-3
    -if @cart_item.dvd.cover?
      =image_tag @cart_item.dvd.cover.url(:medium), alt: @cart_item.dvd.name, class: 'img-responsive'

  .col-md-9
  -if @cart_item.dvd.name
    %dd=@cart_item.dvd.name
  -if @cart_item.dvd.film.name
    %dt='Фильм'
    %dd=link_to @cart_item.dvd.film.name, @cart_item.dvd.film
  -if @cart_item.price
    %dt='Цена'
    %small.text-muted=@cart_item.price
    %small.text-muted руб
  -if @cart_item.amount
    %dt='Количество'
    %small.text-muted
    =@cart_item.amount
    %small.text-muted шт
  -if @cart_item.dvd.cover_type
    %dt='Тип обложки'
    %dd=@cart_item.dvd.cover_type
