= form_for @dvd do |f|
  =error_messages_for(@dvd)
  .row
    .col-md-4
      .form-group
        =f.label :Название
        =f.text_field :name, class: 'form-control'

    .col-md-4
      .form-group
        =f.label :Обложка
        =f.file_field :cover

      -if @dvd.cover?
        .text-center
          =link_to @dvd.cover.url do
            =image_tag @dvd.cover.url(:thumb), alt: @dvd.name

  .row
    .col-md-3
      .form-group
        =f.label :Фильм
        =f.select :film_id, Film.ordering.map{|c| [c.name,c.id]},{}, class: 'form-control'
    .col-md-3
      .form-group
        =f.label :Цена
        =f.text_field :price, class: 'form-control'

    .col-md-2
      .form-group
        =f.label :Тип_обложки
        =f.text_field :cover_type, class: 'form-control'




  .actions
    = f.submit nil, class: 'btn btn-primary'
