-if Dvd.edit_by?(@current_user)
  .btn-toolbar
    =link_to edit_dvd_path(@dvd), class: 'btn btn-primary' do
      =fa_icon 'edit'
      Редактировать
    =link_to @dvd, data: {method: :delete, confirm: t('helpers.sure')}, class: 'btn btn-danger' do
      =fa_icon 'trash'
      Удалить
